<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

@Html.Partial("~/Views/Layout/Head.cshtml")

<body>

    @Html.Partial("~/Views/Layout/Header.cshtml")

    @RenderBody()

    @Html.Partial("~/Views/Layout/Footer.cshtml")

    @Html.Partial("~/Views/Layout/Scripts.cshtml")


</body>

</html>